.zp-setting-geonames_user > th,
.zp-setting-atlas-status th {
	visibility: hidden;
}
.zp-setting-atlas label {
	display: block;
	margin: 0 0 12px;
	
}
.zp-setting-atlas div {
	margin-bottom:7px;
}
#tab_container .zp-setting-atlas input {
	margin-right:8px;
}
.zp-flex-container {
  display: flex;
   padding:10px;
}
#zp-atlas-status td {
  font-size: inherit;
  margin-bottom: 0;
  padding: 6px 10px;
  border-bottom: 1px solid #e5e5e5;
}
#zp-atlas-status tr:last-child td {
  border-width: 0;
}
#zp-spinner {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
@keyframes spinner{ to{
	transform:rotate(360deg)
	}
}
.zp-spinner {
	min-height: 18px;
}
.zp-spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #336;
	animation: spinner 1s linear infinite;
}
.zp-atlas-message.notice{
	border-left-color: #9900CC!important;
}

.zp-atlas-error{
	color:#dc3232;
}
.zp-success{
	color:green;
}
#zp-atlas-installer {
	background: #fafafa;
	padding: 14px;
	border-top: 1px solid #eee;
	margin: 0 0 14px;
	width: 100%;
	box-sizing: border-box;
}
